# hidden files
.*

# python compiled files
*.pyc

# jekyll debug
_site

# Jeykll Gemfile.lock
Gemfile.lock

# yui-compressor
*.jar

# bundle cache
vendor

# Incomplete posts
_drafts/

# Issue workflow
.github/workflows/issues-cleaner.yml
